.logo {
    width: 90px;
    margin-top: 20px;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    max-width: 1280px;
    margin: auto;
    padding: 0px 48px;
}

.header-link {
    text-decoration: none;
    border-top: 2px solid transparent;
    padding: 36px 25px;
    color: black;
    display: inline-block;

}
.header-link:hover {
    display: inline-block;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}   
.subscribe {
    font-weight: bold;
    color: #0065FC;
}
.search h1, .search p{
    margin: 0px;
}
.search h1 {
    font-size: 20px;
}
.search p {
    font-size: 15px;
    margin: 5px 0px;
}
.search {
    margin: 20px 0px;
}
.search-button {
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    align-items: center;
}
.marker {
    padding: 12px 13px 13px;
    background-color: lightgray;
    border-radius: 10px 0px 0px 10px;

}
.search-button input {
    width: 211px;
    height: 45px;
    border: 1px solid lightgray;
    border-left: 0px;
    border-right: 0px;
    padding-left: 15px;
}
.search-icon {
    width: 120px;
    height: 45px;
    color: white;
    background-color:#0065FC;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
}
.filters {
    display: flex;
    align-items: center;
    margin: 15px 0px 0px 5px;
    font-size: 15px;
}
.filters-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 15px;
}

.filter-button {
    display: flex;
    align-items: center;
}

.filter-button i {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 12px;
    border-radius:50%;
    width:40px;
    height:40px;
    z-index: 1;
    background-color: #DEEBFF;
    margin-left: 15px;
    color: #0065FC;
}
.filter-button span {
    padding: 10px 15px 10px;
    display: inline-block;
    padding: 10px 15px 10px 30px;
    border-radius: 0px 21px 21px 0px;
    border: 1px solid #F2F2F2;
    border-left: 0px;
    margin: -21px;
    margin-right: 10px;
}
.filter-button:hover span {
    box-shadow: inset -1px 3px 8px 5px #F2F2F2; 
}

.info-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    font-size: 12px; 
    color: #0065FC;
}
.paragraph {
    display: flex;
    margin: 12px 0px;
    align-items: center;
}
.block-accommodation-1 {
    display: flex;
    flex-direction: column;
    width: 66%;
    background-color: #F2F2F2;
    opacity: 0,33%;
    border-radius: 20px;
}
.title-accommodation {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: -5px;
    font-size: 13px;
}
.accomodations {
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* justify-content: space-around; */
}
.accomodation-block {
    /*     border: solid 2px green;*/    
    width: 33%;
    padding: 20px;
}
.accomodation-card {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2); 
    transition: all 0.2s;
    cursor: pointer;
    background-color: white;
}
.accomodation-card a {
    text-decoration: none;
    color: black;
}
.accomodation-card:hover {
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.5); 
}
.accomodation-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 20px 20px 0px 0px;
}
.accommodation-card-body h3 {
    margin-top: 5px;
    margin-bottom: 2px;
    margin-left: 20px;
    font-size: 13px;
}
.accommodation-card-body p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 12px;
}
.star-one {
    margin-left: 20px;
    margin-bottom: 10px;
}
.star {
    font-size: 11px;
    color: #0065FC;
}
.no-star {
    color: #F2F2F2;
}
.popular-star {
/*     margin-top: 30px;
 */

}
 
.more {
    margin-left: 35px;
    margin-top: 20px;
    font-weight: bold;  
}
.popular-block-section {
    display: flex;
    width: 33%;
    flex-flow: column;
    background-color: #F2F2F2;
    opacity: 0,33%;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
}
.title-popular {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.title-popular i {
    font-size: 20px;
}
.popular {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
/*     border: 1px solid red;
 */}
 .popular-card:hover {
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.5);
 }
.popular-block {
/*     border: 2px solid green;
 */    width: 100%;
    
}
.popular-card {
    display: flex;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2); 
    transition: all 0.2s;
    cursor: pointer;
    background-color: white;
    margin-bottom: 30px;
    
}
.popular-card img {
    height: 130px;
    width: 130px;
    /* border: 3px solid white; */
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    padding: 5px;
}
.popular-card-body {
/*     margin-left: 15px;
    margin-right: 50px; */
    padding: 6px;
}
.popular-card-body h3 {
    font-size: 13px;
    margin: 5px;
}
.popular-card-body p {
    font-size: 12px;
    margin: 5px;
}
.popular-card a {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 0px;
}
.general {
    display: flex;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: auto;
    padding: 0px 50px;
}
.activity {
    display: flex;
    flex-direction: column;
}
.different-sizes a {
    text-decoration: none;
    color: black;
}
.different-activities {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;

 }
 .about .end-margin {
    margin-bottom: 30px;
 }

.act-block {
    width: 25%;
    cursor: pointer;
    background-color: white;
    padding: 10px;
}

.act-block a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.2); 
    transition: all 0.2s;
}

.act-block .block-img {
    /* height: 100%;
    width: 100%;
    display: block; */
}

.act-block .block-caption {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: block;
    background: white;
    padding: 0 10px;
}

.act-block img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.act-block.block-large {
    height: 100%;
}

.act-block.block-medium {
    height: 65%;
}

.act-block.block-small {
    height: 50%;
}

.act-block.block-x-small {
    height: 34%;
}





body {
    margin: 0px;
/*     background-image: url(/images/maquette-test.png);
 */    background-repeat: no-repeat;
    background-position: center 0;
    font-family: 'Raleway', sans-serif;
}
.end {
    display: flex;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin: 20px 20px 0px 20px;
}
.end a {
    text-decoration: none;
    color: grey;
    margin-bottom: 5px;
    font-size: 14px;
}
.about {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.our-accommodation {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.assistance {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

/* small screen */
@media all and (max-width: 1200px) {
    .general {
        flex-direction: column-reverse;
    }

    .popular-block-section {
        width: 100%;
        margin: 5px 0;
    }   

    .block-accommodation-1 {
        width: 100%;
        margin: 5px 0;
        padding: 0;
    }

    .accomodation-block {
        width: 50%;
    }

    .container {
        padding: 10px;
    }
}

/* Tablet */
@media all and (min-width: 480px) and (max-width: 768px) {
    .accomodation-block {
        width: 50%;
    }
}

/* Mobile */
@media all and (max-width: 480px) {
    
    .accomodation-block {
        width: 100%;
    }
    .end {
        flex-direction: column;
    }
    .about {
        margin-left: 10px;
    }
    .our-accommodation {
        margin-left: 10px;
    }
    .assistance {
        margin-left: 10px;
    }
    .about a {
        margin-top: 5px;
    }
    .our-accommodation a {
        margin-top: 5px;
    }
    .assistance a {
        margin-top: 5px;
    }
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }
    .filters-link {
        flex-direction: column;
        padding: 0px;
    }
    .filter-small {
        margin: 0px;
    }
    .filter-medium {
        margin: 0px;
    }
    .filter-hard {
        margin: 0px;
    }
    .different-activities {
        flex-direction: column;
        flex-wrap:nowrap;
        width: 100%;
        height: 50%;
        
    }

    .popular-star {
        margin-left: 5px;
    }
    .header {
        
    }
    .header-nav {
        
    }
    .header-accommodation {
        flex-direction: column-reverse;
        
    }
    .header-sub {
        
    }
}